fastapi==0.115.0
uvicorn==0.32.0
numpy>=1.26.4
rasterio>=1.4.0
opencv-python>=4.10.0.84
pillow>=10.4.0
requests>=2.32.0
python-multipart>=0.0.12
python-dotenv>=1.0.1
sentinelhub>=3.10.3
scikit-image>=0.24.0
matplotlib>=3.9.0
scipy>=1.14.0
